{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-25",
    "endpointPrefix":"flux",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS Flux",
    "serviceId":"Flux",
    "signatureVersion":"v4",
    "signingName":"flux",
    "uid":"flux-2017-07-25"
  },
  "operations":{
    "CreateAccountAssociation":{
      "name":"CreateAccountAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/accountassociations"
      },
      "input":{"shape":"CreateAccountAssociationRequest"},
      "output":{"shape":"CreateAccountAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/applications"
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/environments"
      },
      "input":{"shape":"CreateEnvironmentRequest"},
      "output":{"shape":"CreateEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateRoute":{
      "name":"CreateRoute",
      "http":{
        "method":"POST",
        "requestUri":"/routes"
      },
      "input":{"shape":"CreateRouteRequest"},
      "output":{"shape":"CreateRouteResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateService":{
      "name":"CreateService",
      "http":{
        "method":"POST",
        "requestUri":"/services"
      },
      "input":{"shape":"CreateServiceRequest"},
      "output":{"shape":"CreateServiceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateServiceAssociation":{
      "name":"CreateServiceAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/serviceassociations"
      },
      "input":{"shape":"CreateServiceAssociationRequest"},
      "output":{"shape":"CreateServiceAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{ApplicationId}"
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteEnvironment":{
      "name":"DeleteEnvironment",
      "http":{
        "method":"DELETE",
        "requestUri":"/environments/{EnvironmentId}"
      },
      "input":{"shape":"DeleteEnvironmentRequest"},
      "output":{"shape":"DeleteEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteService":{
      "name":"DeleteService",
      "http":{
        "method":"DELETE",
        "requestUri":"/services/{ServiceId}"
      },
      "input":{"shape":"DeleteServiceRequest"},
      "output":{"shape":"DeleteServiceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListAccountAssociations":{
      "name":"ListAccountAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/accountassociations"
      },
      "input":{"shape":"ListAccountAssociationsRequest"},
      "output":{"shape":"ListAccountAssociationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"GET",
        "requestUri":"/applications"
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListEnvironments":{
      "name":"ListEnvironments",
      "http":{
        "method":"GET",
        "requestUri":"/environments"
      },
      "input":{"shape":"ListEnvironmentsRequest"},
      "output":{"shape":"ListEnvironmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListRoutes":{
      "name":"ListRoutes",
      "http":{
        "method":"GET",
        "requestUri":"/routes"
      },
      "input":{"shape":"ListRoutesRequest"},
      "output":{"shape":"ListRoutesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListServiceAssociations":{
      "name":"ListServiceAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/serviceassociations"
      },
      "input":{"shape":"ListServiceAssociationsRequest"},
      "output":{"shape":"ListServiceAssociationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"GET",
        "requestUri":"/services"
      },
      "input":{"shape":"ListServicesRequest"},
      "output":{"shape":"ListServicesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "ListVpcAssociations":{
      "name":"ListVpcAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/vpcassociations"
      },
      "input":{"shape":"ListVpcAssociationsRequest"},
      "output":{"shape":"ListVpcAssociationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountAssociation":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "AccountId":{"shape":"AccountId"},
        "State":{"shape":"AccountAssociationState"},
        "ErrorCode":{"shape":"AccountAssociationErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "CreatedTime":{"shape":"Timestamp"}
      }
    },
    "AccountAssociationErrorCode":{
      "type":"string",
      "enum":["PLACEHOLDER"]
    },
    "AccountAssociationState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "AccountAssociations":{
      "type":"list",
      "member":{"shape":"AccountAssociation"}
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "ApiGatewayId":{
      "type":"string",
      "max":10,
      "min":10,
      "pattern":"^[a-z0-9]{10}$"
    },
    "Application":{
      "type":"structure",
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "ApplicationId":{"shape":"ApplicationId"},
        "ApplicationUrl":{"shape":"Uri"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "VpcId":{"shape":"VpcId"},
        "ApiGatewayId":{"shape":"ApiGatewayId"},
        "State":{"shape":"ApplicationState"},
        "ErrorCode":{"shape":"ApplicationErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "CreatedTime":{"shape":"Timestamp"}
      }
    },
    "ApplicationErrorCode":{
      "type":"string",
      "enum":["PLACEHOLDER"]
    },
    "ApplicationId":{
      "type":"string",
      "max":45,
      "min":45,
      "pattern":"^flux-app-[-a-f0-9]{36}$"
    },
    "ApplicationName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^[a-z0-9]+[a-z0-9-]+$"
    },
    "ApplicationState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "Applications":{
      "type":"list",
      "member":{"shape":"Application"}
    },
    "CidrBlock":{"type":"string"},
    "CidrBlocks":{
      "type":"list",
      "member":{"shape":"CidrBlock"}
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[\\x20-\\x7E]{1,64}$"
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{"shape":"String"},
        "ResourceType":{"shape":"String"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CreateAccountAssociationRequest":{
      "type":"structure",
      "required":[
        "EnvironmentId",
        "AccountId",
        "ClientToken"
      ],
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "AccountId":{"shape":"AccountId"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateAccountAssociationResponse":{
      "type":"structure",
      "members":{
        "AccountAssociation":{"shape":"AccountAssociation"}
      }
    },
    "CreateApplicationRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "EnvironmentId",
        "VpcId",
        "ClientToken"
      ],
      "members":{
        "ApplicationName":{"shape":"ApplicationName"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "VpcId":{"shape":"VpcId"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateApplicationResponse":{
      "type":"structure",
      "members":{
        "Application":{"shape":"Application"}
      }
    },
    "CreateEnvironmentRequest":{
      "type":"structure",
      "required":[
        "Name",
        "NetworkFabricType",
        "ClientToken"
      ],
      "members":{
        "Name":{"shape":"Name"},
        "Description":{"shape":"Description"},
        "NetworkFabricType":{"shape":"NetworkFabricType"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateEnvironmentResponse":{
      "type":"structure",
      "members":{
        "Environment":{"shape":"Environment"}
      }
    },
    "CreateRouteRequest":{
      "type":"structure",
      "required":[
        "ApplicationId",
        "RouteType",
        "ClientToken"
      ],
      "members":{
        "ApplicationId":{"shape":"ApplicationId"},
        "RouteType":{"shape":"RouteType"},
        "SourcePath":{"shape":"UriPath"},
        "DestinationUri":{"shape":"Uri"},
        "DestinationLambdaArn":{"shape":"LambdaArn"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateRouteResponse":{
      "type":"structure",
      "members":{
        "Route":{"shape":"Route"}
      }
    },
    "CreateServiceAssociationRequest":{
      "type":"structure",
      "required":[
        "EnvironmentId",
        "ServiceId",
        "ClientToken"
      ],
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "ServiceId":{"shape":"ServiceId"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateServiceAssociationResponse":{
      "type":"structure",
      "members":{
        "ServiceAssociation":{"shape":"ServiceAssociation"}
      }
    },
    "CreateServiceRequest":{
      "type":"structure",
      "required":[
        "Name",
        "VpcId",
        "ClientToken"
      ],
      "members":{
        "Name":{"shape":"Name"},
        "Description":{"shape":"Description"},
        "VpcId":{"shape":"VpcId"},
        "ClientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateServiceResponse":{
      "type":"structure",
      "members":{
        "Service":{"shape":"Service"}
      }
    },
    "DeleteApplicationRequest":{
      "type":"structure",
      "required":["ApplicationId"],
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"ApplicationId"
        }
      }
    },
    "DeleteApplicationResponse":{
      "type":"structure",
      "members":{
        "Application":{"shape":"Application"}
      }
    },
    "DeleteEnvironmentRequest":{
      "type":"structure",
      "required":["EnvironmentId"],
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "location":"uri",
          "locationName":"EnvironmentId"
        }
      }
    },
    "DeleteEnvironmentResponse":{
      "type":"structure",
      "members":{
        "Environment":{"shape":"Environment"}
      }
    },
    "DeleteServiceRequest":{
      "type":"structure",
      "required":["ServiceId"],
      "members":{
        "ServiceId":{
          "shape":"ServiceId",
          "location":"uri",
          "locationName":"ServiceId"
        }
      }
    },
    "DeleteServiceResponse":{
      "type":"structure",
      "members":{
        "Service":{"shape":"Service"}
      }
    },
    "Description":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^[a-zA-Z0-9-_\\s\\.\\!\\*\\#\\@\\']+$"
    },
    "Ec2TagValue":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"^.*$"
    },
    "Environment":{
      "type":"structure",
      "members":{
        "Name":{"shape":"Name"},
        "Description":{"shape":"Description"},
        "EnvironmentId":{"shape":"EnvironmentId"},
        "NetworkFabricType":{"shape":"NetworkFabricType"},
        "AdminAccountId":{"shape":"AccountId"},
        "TransitGatewayId":{"shape":"TransitGatewayId"},
        "AdminVpcId":{"shape":"VpcId"},
        "State":{"shape":"EnvironmentState"},
        "ErrorCode":{"shape":"EnvironmentErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "CreatedTime":{"shape":"Timestamp"}
      }
    },
    "EnvironmentErrorCode":{
      "type":"string",
      "enum":["PLACEHOLDER"]
    },
    "EnvironmentId":{
      "type":"string",
      "max":45,
      "min":45,
      "pattern":"^flux-env-[-a-f0-9]{36}$"
    },
    "EnvironmentState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "Environments":{
      "type":"list",
      "member":{"shape":"Environment"}
    },
    "ErrorMessage":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"^[\\p{Alnum}\\p{Punct}\\p{Blank}]*$"
    },
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "LambdaArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:function:Flux-[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "ListAccountAssociationsRequest":{
      "type":"structure",
      "required":["EnvironmentId"],
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "location":"querystring",
          "locationName":"environmentId"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListAccountAssociationsResponse":{
      "type":"structure",
      "members":{
        "AccountAssociationList":{"shape":"AccountAssociations"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListApplicationsRequest":{
      "type":"structure",
      "required":["EnvironmentId"],
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "location":"querystring",
          "locationName":"environmentId"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListApplicationsResponse":{
      "type":"structure",
      "members":{
        "ApplicationList":{"shape":"Applications"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListEnvironmentsRequest":{
      "type":"structure",
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "location":"querystring",
          "locationName":"environmentId"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListEnvironmentsResponse":{
      "type":"structure",
      "members":{
        "EnvironmentList":{"shape":"Environments"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListRoutesRequest":{
      "type":"structure",
      "required":["ApplicationId"],
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "location":"querystring",
          "locationName":"applicationId"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListRoutesResponse":{
      "type":"structure",
      "members":{
        "RouteList":{"shape":"RouteList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceAssociationsRequest":{
      "type":"structure",
      "required":["EnvironmentId"],
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "location":"querystring",
          "locationName":"environmentId"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListServiceAssociationsResponse":{
      "type":"structure",
      "members":{
        "ServiceAssociationList":{"shape":"ServiceAssociations"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListServicesRequest":{
      "type":"structure",
      "members":{
        "ServiceId":{
          "shape":"ServiceId",
          "location":"querystring",
          "locationName":"serviceId"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListServicesResponse":{
      "type":"structure",
      "members":{
        "ServiceList":{"shape":"Services"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListVpcAssociationsRequest":{
      "type":"structure",
      "required":["EnvironmentId"],
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "location":"querystring",
          "locationName":"environmentId"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListVpcAssociationsResponse":{
      "type":"structure",
      "members":{
        "VpcAssociationList":{"shape":"VpcAssociations"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "Name":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^[a-zA-Z0-9]+[a-zA-Z0-9-_]+$"
    },
    "NetworkFabricType":{
      "type":"string",
      "enum":["TRANSIT_GATEWAY"]
    },
    "NextToken":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\/\\+\\=]{0,2048}$"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{"shape":"String"},
        "ResourceType":{"shape":"String"}
      },
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "RetryAfterSeconds":{"type":"integer"},
    "Route":{
      "type":"structure",
      "members":{
        "RouteId":{"shape":"RouteId"},
        "RouteType":{"shape":"RouteType"},
        "ApplicationId":{"shape":"ApplicationId"},
        "SourcePath":{"shape":"UriPath"},
        "DestinationUri":{"shape":"Uri"},
        "DestinationLambdaArn":{"shape":"LambdaArn"},
        "State":{"shape":"RouteState"},
        "ErrorCode":{"shape":"RouteErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "CreatedTime":{"shape":"Timestamp"}
      }
    },
    "RouteErrorCode":{
      "type":"string",
      "enum":["PLACEHOLDER"]
    },
    "RouteId":{
      "type":"string",
      "max":47,
      "min":47,
      "pattern":"^flux-route-[-a-f0-9]{36}$"
    },
    "RouteList":{
      "type":"list",
      "member":{"shape":"Route"}
    },
    "RouteState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "RouteType":{
      "type":"string",
      "enum":[
        "DEFAULT",
        "URI_PATH"
      ]
    },
    "Service":{
      "type":"structure",
      "members":{
        "ServiceId":{"shape":"ServiceId"},
        "Name":{"shape":"Name"},
        "Description":{"shape":"Description"},
        "VpcId":{"shape":"VpcId"},
        "State":{"shape":"ServiceState"},
        "ErrorCode":{"shape":"ServiceErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "CreatedTime":{"shape":"Timestamp"}
      }
    },
    "ServiceAssociation":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "ServiceId":{"shape":"ServiceId"},
        "State":{"shape":"ServiceAssociationState"},
        "ErrorCode":{"shape":"ServiceAssociationErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "CreatedTime":{"shape":"Timestamp"}
      }
    },
    "ServiceAssociationErrorCode":{
      "type":"string",
      "enum":["PLACEHOLDER"]
    },
    "ServiceAssociationState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "ServiceAssociations":{
      "type":"list",
      "member":{"shape":"ServiceAssociation"}
    },
    "ServiceErrorCode":{
      "type":"string",
      "enum":["PLACEHOLDER"]
    },
    "ServiceId":{
      "type":"string",
      "max":40,
      "min":40,
      "pattern":"^svc-[-a-f0-9]{36}$"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType",
        "ServiceCode"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{"shape":"String"},
        "ResourceType":{"shape":"String"},
        "QuotaCode":{"shape":"String"},
        "ServiceCode":{"shape":"String"}
      },
      "error":{"httpStatusCode":402},
      "exception":true
    },
    "ServiceState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "Services":{
      "type":"list",
      "member":{"shape":"Service"}
    },
    "String":{"type":"string"},
    "ThrottlingException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"},
        "QuotaCode":{"shape":"String"},
        "ServiceCode":{"shape":"String"},
        "RetryAfterSeconds":{
          "shape":"RetryAfterSeconds",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "TransitGatewayId":{
      "type":"string",
      "max":21,
      "min":21,
      "pattern":"^tgw-[-a-f0-9]{17}$"
    },
    "Uri":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"https?://[-a-zA-Z0-9+\\x38@#/%?=~_|!:,.;]*[-a-zA-Z0-9+\\x38@#/%=~_|]"
    },
    "UriPath":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"(\\/[a-zA-Z0-9._-]+)+"
    },
    "ValidationException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "VpcAssociation":{
      "type":"structure",
      "members":{
        "EnvironmentId":{"shape":"EnvironmentId"},
        "VpcId":{"shape":"VpcId"},
        "AccountId":{"shape":"AccountId"},
        "CidrBlocks":{"shape":"CidrBlocks"},
        "VpcName":{"shape":"Ec2TagValue"},
        "State":{"shape":"VpcAssociationState"},
        "ErrorCode":{"shape":"VpcAssociationErrorCode"},
        "ErrorMessage":{"shape":"ErrorMessage"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "CreatedTime":{"shape":"Timestamp"}
      }
    },
    "VpcAssociationErrorCode":{
      "type":"string",
      "enum":["PLACEHOLDER"]
    },
    "VpcAssociationState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "FAILED"
      ]
    },
    "VpcAssociations":{
      "type":"list",
      "member":{"shape":"VpcAssociation"}
    },
    "VpcId":{
      "type":"string",
      "max":21,
      "min":12,
      "pattern":"^vpc-[-a-f0-9]{8}([-a-f0-9]{9})?$"
    }
  }
}
